* { padding: 0; margin: 0; box-sizing: border-box;}

body, div, article, section, aside, img, header, footer, figure, form, iframe, list, table, nav, video
{
	border: 1px black solid; 
} 


body { width: 80%; margin: 0 auto;}
div {  width: 100%;}
header, footer { width: 100%; min-height: 50px; max-height: 300px;}
nav {  width: 100%; display: flex;  padding: 5%;}
article, aside { width: 49%; margin: 15px auto;}
article { margin-left: 0; }
aside { margin-right: 0; } 
a { width: 20%; margin: 0; text-align:center; }
p > img, article > img, aside >img  { width: 100%;}
section { display: flex; flex-wrap: wrap; padding: 5px;}
body > div {padding: 0 10px; }
 header > img, footer > img { width: 100%; height: 100%;}
